/* Reset básico para remover margens, espaçamentos e padronizações dos navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

button, input, textarea {
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
}
